__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.env.*
.venv/
venv/
.git/
.gitignore
.github/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
htmlcov/
build/
dist/
*.egg-info/
Dockerfile
docker-compose.yaml
docs/
notebooks/
tests/
mlruns/
#data/
#models/
